<div class="skeleton-grid">
    @for (item of items; track $index) {
    <div class="skeleton-card">
        <div class="skeleton-top">
            <div class="skeleton-badge shimmer"></div>
            <div class="skeleton-title shimmer"></div>
        </div>
        <div class="skeleton-line shimmer"></div>
        <div class="skeleton-line short shimmer"></div>
        <div class="skeleton-tags">
            <div class="skeleton-tag shimmer"></div>
            <div class="skeleton-tag shimmer"></div>
        </div>
    </div>
    }
</div>